# Ignore everything
/*

# Allow specific files/directories
!/.gitignore
!/GEMINI.md
!/ansible-lab/
!/dns/
!/monitoring/
!/puppet/
!/kubespray/
!/fix_dashboards_uid.py
!/import_dashboards.py
!/k8s_cluster.json
!/kube-state-lb.yaml
!/metallb.yaml
!/metallb-config.yml
!/node_exporter_full.json
!/storage-test.yaml

# Within allowed directories, ignore local/sensitive files
ansible-lab/hosts.ini
kubespray/.git/
kubespray/venv/
monitoring/grafana_data/
monitoring/certs/
**/__pycache__/
**/*.swp
**/*.swo
**/.DS_Store
